#about_us {
    margin-top: 100px;
}

.about_us_items {
    h5 {
        font-family: "Dancing Script", sans-serif;
        color: #1089ff;
        line-height: 1.7;
        font-weight: 300;
        font-size: 1.1rem;
    }

    h2 {
        padding-bottom: 30px;
        margin-bottom: 30px;
        color: #000;
        font-family: $h-font;
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 1.2;
    }
    hr{
        width: 70px;
        height: 5px;
        color: blue;
    }
    p{
        line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1.1rem;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    button{
        @include button;
    }
}